<div class="login-container" [formGroup]="loginCredentials">
    <mat-card>
      <mat-card-header>
        <mat-card-title id="rainbow-text">Login To Open5HR</mat-card-title>
      </mat-card-header>

      <mat-card-content>

          <mat-form-field class="full-width">
            <input matInput formControlName="username">
            <mat-error *ngIf="loginCredentials.get('username')?.hasError('required')">Το πεδίο είναι υποχρεωτικό.</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput formControlName="password">
            <mat-error *ngIf="loginCredentials.get('password')?.hasError('required')">Το πεδίο είναι υποχρεωτικό.</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="Login()" [disabled]="isLoginButtonDisabled">Login</button>
      </mat-card-content>
    </mat-card>
</div>
