<div class="grid-container">
  <h1 class="mat-h1">My Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="500px">

    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <span>Pending Leave Requests Table Here</span>
<!--      <app-leave-request-table-card></app-leave-request-table-card>-->
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <span>Your Leave Balance Here</span>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span>Your subordinates here // maybe on leave or present toggle option here</span>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span>Current date and maybe some other info like temperature or something like that</span>
    </mat-grid-tile>

  </mat-grid-list>
</div>
